.finish {
  background: var(--background);
  .finish__main {
    width: 1405px;
    display: flex;
    margin: 95px auto;
    gap: 86px;

    .finishData {
      width: 959px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .finishData__item {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
      }
    }
  }
}